html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #DBE6EC;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  font: 300 2vmax/1 'Source Code Pro', sans-serif;
}

svg {
  width: 85vmin;
  flex: 0 1 auto;
}

#content {
  flex: 0 1 auto;
}

.button {
  display: inline-block;
  background: #297CBB;
  color: #FFF;
  padding: 2vmin 4vmin;
  border-radius: 1vmin;
  text-decoration: none;
}

.button:hover {
  background: #288AD6;
}