// Prevent the page from being scrollable while the lightbox is open.
body.lightbox-open {
  overflow: hidden;
}

.lightbox {
  position: relative;
  margin: 5rem auto;
  max-width: 450px;
  background: #fff;

  // Uppermost parent for the lightbox, acts as the backsplash and the
  // container for the actual lightbox dialog.
  &-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.5);
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    font-size: 2rem;
    border: none;
    background: none;
  }

  &__content {
    position: relative;
    padding: 2rem;
  }

  &__image {
    display: block;
    max-width: 100%;
  }
}
