$beige: #dbe6ec;
$blue: #297cbb;
$another-blue: #288ad6;
$white: #fff;
$overlay-color: rgba(0, 0, 0, .8);
$button-text-shadow: 1px 1px 1px rgba(255, 255, 255, .75);

$image-fade-time: 200;
$image-fade-time-ms: $image-fade-time + 0ms;

$lightbox-fade-time: 300;
$lightbox-fade-time-ms: $lightbox-fade-time + 0ms;
